html {
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: #E5E5E5;
}

#orangeContain {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: auto;
    background-color: #FFA531;
}

#textMiddle {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 35%; 
    margin: 0 auto;
}

#textMiddle h1 {
    font-weight: 100;
    color: #5E5E5E;
    font-size: 2.8em;
}

#textMiddle h1 span {
    font-weight: 400;
    color: black;
    font-size: 110%;
}

#textMiddle img {
    width: 2%;
    height: auto;
}

::selection {
    background: #FFA531;
}

#textMiddle h2 {
    color: #5E5E5E;
    font-weight: 100;
    opacity: 0.8;
    font-size: 1.5em;
}

#bottomLinks {
    bottom: 3%;
    position: fixed;
    width: 100%;
    margin: auto;
}

#bottomLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
}

#bottomLinks ul li {
    display: inline-block;
    text-align: center;
    width: 14%;
    opacity: .4;
}

#bottomLinks ul li:hover {
    opacity: .9;
    transition: opacity 0.7s ease-in-out;
}

#bottomLinks ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 100;
}

#orangeContain {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 60s ease infinite;
    -z-animation: rainbow 60s ease infinite;
    -o-animation: rainbow 60s ease infinite;
    animation: rainbow 60s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
